<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title webpack-start-pug
    body
      h1 WEBPACK
      .container
        ul
          li.item
            p Lorem ipsum dolor sit amet consectetur.
          li.item
            p Lorem ipsum dolor sit amet.
          li.item
            p Lorem ipsum dolor sit amet consectetur adipisicing.

        