.footer__social
  a.twitt(href="https://twitter.com/?lang=ru",target="_blank")
    .gradient-icon
      include ../social_icons/twitter.pug 
  a.inst(href="https://www.instagram.com/?hl=ru",target="_blank")
    .gradient-icon  
      include ../social_icons/instagram.pug
  a.faceb(href="https://ru-ru.facebook.com/",target="_blank")
    .gradient-icon
      include ../social_icons/facebook.pug
