@import '../../theme/variables.scss';

.standart-nav-bar {
  width: 100%;
  min-height: 4.375rem;
  background: #ffffff;
  box-shadow: 0rem 0.625rem 1.25rem $dark5-color;
  margin: 0 auto;

  &__container {
    max-width: 1180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.25rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin: 0 auto;

    @media screen and (max-width: 900px) {
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 0.625rem;
    }
  }

  &__logo {
    flex: 2 1 auto;
  }

  &__menu {
    padding-right: 2.1rem;
    padding-left: 0.2rem;
    padding-top: 0.6875rem;
  }

  &__login-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12.45rem;
    padding-top: 0.125rem;
    z-index: 1000;
  }
}
