header.standart-nav-bar
  .standart-nav-bar__container
    .standart-nav-bar__logo
      include ../logoTOXIN/logoTOXIN.pug 
    .standart-nav-bar__menu
      include ../nav_header/nav_header.pug 
    .standart-nav-bar__login-block
        include ../login_button/login_button.pug 
        include ../register_button/register_button.pug 