@import '../../theme/variables.scss';

.standart_logged_in_nav_bar {
  width: 100%;
  min-height: 4.375rem;
  background: #ffffff;
  box-shadow: 0rem 0.625rem 1.25rem $dark5-color;

  &__container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.25rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    @media screen and (max-width: 830px) {
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 0.625rem;
    }
  }

  &__logo {
    flex: 2 1 auto;
  }

  &__menu {
    padding-right: 2.125rem;
  }
}

.standart_logged_in_nav_bar__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.user__box {
  width: 0.0625rem;
  height: 1.875rem;
  background: rgba(31, 32, 65, 0.1);
  margin-top: 0.375rem;
}

.user__name {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: $dark50-color;
  padding-top: 0.75rem;
  display: inline-block;
  padding-bottom: 0.625rem;
  padding-left: 1.875rem;
}
