.standart_logged_in_nav_bar
  .standart_logged_in_nav_bar__container
    include ../logoTOXIN/logoTOXIN.pug 
    include ../nav_header/nav_header.pug 
    .standart_logged_in_nav_bar__user
      span Cosmin Negoita
      
    
