header.standart_logged_in_nav_bar
  .standart_logged_in_nav_bar__container
    .standart_logged_in_nav_bar__logo
      include ../logoTOXIN/logoTOXIN.pug
    .standart_logged_in_nav_bar__menu 
      include ../nav_header/nav_header.pug 
    .standart_logged_in_nav_bar__user.user
      .user__box
      span.user__name Cosmin Negoita
      
    
