@import "../../theme/variables.scss";

.email-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid $dark25-color;
  box-sizing: border-box;
  border-radius: 0.25rem;
  width: 16.6875rem;
  height: 2.75rem;

  &__text {
    border: none;
    height: 99%;
    width: auto;
    @include body-text;
    
  }

  &__text::-webkit-input-placeholder {
    color: $dark25-color;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5rem; 
  }

  &__submit {
    border: none;
    background: #ffffff;
    width: 2.6rem;
    height: 2.6rem;
  }

  &__icon {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
    align-items: center;
    text-align: center;
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
