form.email-form(action="" method="")
  input.email-form__text(type="email" name="email" placeholder="Email")
  button.email-form__submit(type="submit")
      <i class="material-icons email-form__icon">arrow_forward</i>