@import '../../theme/variables.scss';

.nav-header {
  width: 32.8125rem;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__link {
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: $dark50-color;

    &_active {
      font-family: Montserrat, Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 1.0625rem;
      color: $dark75-color;
    }

    &_with-drop-down-menu {
        position: relative;
        margin-right: 0.9375rem;
    }

    &_with-drop-down-menu::after {
      content: "\e5cf";
      position: absolute;
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 1.25rem;
      color: $dark50-color;
    }
  }
}
