@import '../../theme/variables.scss';

.nav-header {
  width: 527px;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__link {
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $dark50-color;

    &_active {
      font-family: Montserrat, Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: $dark75-color;
    }

    &_with-drop-down-menu {
        position: relative;
        margin-right: 15px;
    }

    &_with-drop-down-menu::after {
      content: "\e5cf";
      position: absolute;
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 20px;
      color: $dark50-color;
    }
  }
}
