footer.footer-creative
  .footer-creative__logo
      include  ../logoTOXIN/logoTOXIN.pug
  p.footer-creative__text  Lorem ipsum dolor sit amet consectetur adipiscing elit
                           |aliquam eget nullam pellentesque aliquam curabitur cociis.
  .footer-creative__social
      include ../footer_social/footer_social.pug