$primary-color: #bc9cff;
$secondary-color: #6fcf97;
$dark100-color: #1f2041;
$dark75-color: rgba(31, 32, 65, 0.75);
$dark50-color: rgba(31, 32, 65, 0.5);
$dark25-color: rgba(31, 32, 65, 0.25);
$dark5-color: rgba(31, 32, 65, 0.05);
$primary-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

@mixin primary-gradient {
  background-image: -webkit-linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-image: -moz-linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin H1-text {
  font-family: Quicksand, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #1f2041;
}

@mixin H2-text {
  font-family: Quicksand, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 1.5rem;
  color: #1f2041;
}

@mixin H3-text {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-transform: uppercase;
  color: #1f2041;
}

@mixin body-text {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgba(31, 32, 65, 0.75);
}

