.login-register {
  width: 6.3125rem;
  height: 2.125rem;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 1.375rem;
  border: none;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-transform: uppercase;
  color: #ffffff;

  &:hover {
    cursor: pointer;
  }
}
