@import "../../theme/variables.scss";

.footer {
  height: 27.625rem;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 6.1875rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
  }

  &__logo-block {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  &__logo-text {
    @include body-text;    
    padding-top: 1rem;
    width: 16.25rem;
  }

  &__subscribe-block {
    display: flex;
    flex-direction: column;
    padding-top: 0.3rem;
    margin-left: 2.875rem;

      p {
        @include body-text;
        padding-top: 1.125rem;
        padding-bottom: 1.375rem;
        width: 12.25rem;
      }
  }

  &__copy-social-block {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    height: 4.375rem;
    width: 100%;
    

    .copy-social-block-wrap {
      max-width: 1180px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 0.8rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      margin: 0 auto;
    }
  }
}


.footnav {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.25rem;
  width: 40vw;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__li-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  &__link {
    @include body-text;
    color: $dark50-color;
  }
}

.foot-subtitle{
  @include H3-text;
}

.footer__copyright {
  @include body-text;
}