@import "fonts.css";
@import "~normalize.css";

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 26px;
    color: darkmagenta;
}
.container {
    margin: 0 auto;
    background-color: crimson;
    max-width: 1200px;
}

